<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>美舒雅登录系统</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
    <link rel="icon" href="../../static/public/images/managerSystem.ico">
<link href="../../static/public/css/base.css" rel="stylesheet" type="text/css">
<link href="../../static/public/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="login">
<form action="" method="post" id="form">
	<div class="login_form">
        <h1 class="userLogo">美舒雅睡衣 登录系统</h1>
    </div>
    <div class="login_form">
    	<div class="user">
            <select class = "text_value1" >
                <option>--请选择工序--</option>
                <option>裁剪管理员</option>
                <option>机工管理员</option>
                <option>裁剪</option>
                <option>机工</option>
            </select><br>
        	<input class="text_value" value="" name="username" type="text" id="username" placeholder="账号"><br>
            <input class="text_value" value="" name="password" type="password" id="password" placeholder="密码"><br>

            <button class="button2" id="submit" type="submit" >登录</button>
        </div>
    </div>
    
    <div id="tip"></div>
    </form>
</div>
<!--<script>var basedir='/static/public/ui/';</script>-->
<!--<script src="static/public/ui/do.js"></script>-->
<!--<script src="static/public/ui/config.js"></script>-->
<script>
</script>
<!--<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>-->
</body>
</html>